<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI Upload Portal</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="topnav">
        <img src="sampleimage.png" alt="BI Logo" class="center">
    </div>
    <div id="uploadform">
        <br>
        <h1><center>Client Data Upload Portal</center></h1>
        <br>
        <p><center>Your upload has been received.</center></p>
        <p><center>A confirmation email will be sent to the address you specified.</center></p>
    </div>
</body>
</html>